
# Format: postgresql://USER:PASSWORD@ep-xxx-pooler.REGION.aws.neon.tech/DBNAME?sslmode=require
DATABASE_URL="postgresql://neondb_owner:npg_WCpHg7q4zXun@ep-patient-art-apuykxzx-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Direct / unpooled connection (used ONLY by Prisma migrate)
# Format: postgresql://USER:PASSWORD@ep-xxx.REGION.aws.neon.tech/DBNAME?sslmode=require
DIRECT_URL="postgresql://neondb_owner:npg_WCpHg7q4zXun@ep-patient-art-apuykxzx.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
